<div class="form-horizontal">
    <p class="form-center">Update Request</p>
    <form name="form" (ngSubmit)="f.form.valid && update()" #f="ngForm" novalidate>
        <div class="form-row">
            <label class="col-sm-2 col-form-label">TicketId</label>
            <input name="ticketId" [(ngModel)] = 'form.ticketId' type='number'/>
        </div>
        <div class="form-row">
            <label class="col-sm-2 col-form-label">Customer Name</label>
            <input pattern="^(?!\s*$)[\s\S]+$" name="customerName" [(ngModel)] = 'form.customerName' 
            required minlength="3" maxlength="50" #customerName="ngModel"/>
            <div class="alert-danger validationMessage" *ngIf="customerName.errors && f.submitted">
                <div *ngIf="customerName.errors.required">customerName is required</div>
                <div *ngIf="customerName.errors.minlength">
                    customerName must be at least 3 characters
                </div>
                <div *ngIf="customerName.errors.maxlength">
                    CustomerName must be at most 50 characters
                </div>
                <div *ngIf="customerName.errors.pattern">
                    CustomerName must not have empty spaces
                </div>
            </div>
        </div>
        <div class="form-row">
            <label class="col-sm-2 col-form-label">Summary</label>
            <input pattern="^(?!\s*$)[\s\S]+$" name="summary" [(ngModel)] = 'form.summary' required
            minlength="3"
            maxlength="50" #summary="ngModel"/>
            <div class="alert-danger validationMessage" *ngIf="summary.errors && f.submitted">
                <div *ngIf="summary.errors.required">summary is required</div>
                <div *ngIf="summary.errors.minlength">
                    summary must be at least 3 characters
                </div>
                <div *ngIf="summary.errors.maxlength">
                    summary must be at most 50 characters
                </div>
                <div *ngIf="summary.errors.pattern">
                    summary must not have empty spaces
                </div>
            </div>
        </div>
        <div class="form-row">
            <label class="col-sm-2 col-form-label">Status</label>
            <input pattern="^(?!\s*$)[\s\S]+$" name="status" [(ngModel)] = 'form.status' required #status="ngModel"/>
            <div class="alert-danger validationMessage" *ngIf="status.errors && f.submitted">
                <div *ngIf="status.errors.required">status is required</div>
                <div *ngIf="status.errors.pattern">
                    Status must not have empty spaces
                </div>
            </div>
        </div>
        <div class="form-row">
            <label class="col-sm-2 col-form-label">ServiceType</label>
            <select name="serviceType" [(ngModel)]="form.serviceType">
                <option *ngFor="let item of serviceList" [ngValue]="item">{{item}}</option>
            </select>
        </div>
        <div class="form-row">
            <label class="col-sm-2 col-form-label">Assigned Group</label>
            <input pattern="^(?!\s*$)[\s\S]+$" name="assignedGroup" [(ngModel)] = 'form.assignedGroup' 
            required minlength="3" maxlength="10" #assignedGroup="ngModel"/>
            <div class="alert-danger validationMessage" *ngIf="assignedGroup.errors && f.submitted">
                <div *ngIf="assignedGroup.errors.required">assignedGroup is required</div>
                <div *ngIf="assignedGroup.errors.minlength">
                    assignedGroup must be at least 3 characters
                </div>
                <div *ngIf="assignedGroup.errors.maxlength">
                    assignedGroup must be at most 50 characters
                </div>
                <div *ngIf="assignedGroup.errors.pattern">
                    Assigned Group must not have empty spaces
                </div>
            </div>
        </div>
        <div class="form-row">
            <label class="col-sm-2 col-form-label">Created Date</label>
            <input type="date" name="createdDate" [(ngModel)] = 'form.createdDate' required #createdDate="ngModel"/>
            <div class="alert-danger validationMessage" *ngIf="createdDate.errors && f.submitted">
                <div *ngIf="createdDate.errors.required">Created Date is required</div>
            </div>
        </div>
        <div class="form-center">
            <button class="btn btn-primary">Update</button>
        </div>
    </form>
    <br>
    <div class="successMessage" *ngIf="errorMessage==''">
        <label>{{successMessage}}</label>
    </div>
    <div class="validationMessage" *ngIf="errorMessage!=''">
        <label>{{errorMessage}}</label>
    </div>
</div>