<div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      />
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          [(ngModel)]="form.name"
          required
          minlength="3"
          maxlength="50"
          #name="ngModel"
        />
        <div class="alert-danger" *ngIf="name.errors && f.submitted">
          <div *ngIf="name.errors.required">Please specify name</div>
          <div *ngIf="name.errors.minlength">
            Provide at least 3 characters name
          </div>
          <div *ngIf="name.errors.maxlength">
            Provide at most 50 characters name
          </div>
        </div>
        </div>
        <div class="form-group">
          <label for="userName">Username</label>
          <input
            type="text"
            class="form-control"
            name="userName"
            [(ngModel)]="form.userName"
            required
            minlength="3"
            maxlength="20"
            #userName="ngModel"
          />
          <div class="alert-danger" *ngIf="userName.errors && f.submitted">
            <div *ngIf="userName.errors.required">Username is required</div>
            <div *ngIf="userName.errors.minlength">
              Username must be at least 3 characters
            </div>
            <div *ngIf="userName.errors.maxlength">
              Username must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="mobileNo">MobileNo</label>
          <input
            type="text"
            class="form-control"
            name="mobileNo"
            [(ngModel)]="form.mobileNo"
            required
            minlength="7"
            maxlength="15"
            #mobileNo="ngModel"
          />
          <div class="alert-danger" *ngIf="mobileNo.errors && f.submitted">
            <div *ngIf="mobileNo.errors.required">MobileNo is required</div>
            <div *ngIf="mobileNo.errors.minlength">
              MobileNo must be at least 7 characters
            </div>
            <div *ngIf="mobileNo.errors.maxlength">
              MobileNo must be at most 15 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input
            type="text"
            class="form-control"
            name="address"
            [(ngModel)]="form.address"
            required
            minlength="3"
            maxlength="50"
            #address="ngModel"
          />
          <div class="alert-danger" *ngIf="address.errors && f.submitted">
            <div *ngIf="address.errors.required">Please specify address</div>
            <div *ngIf="address.errors.minlength">
              Provide at least 3 characters address
            </div>
            <div *ngIf="address.errors.maxlength">
              Provide at most 50 characters address
            </div>
          </div>
          </div>
          <div class="form-group">
            <label for="state">State</label>
            <input
              type="text"
              class="form-control"
              name="state"
              [(ngModel)]="form.state"
              required
              minlength="3"
              maxlength="50"
              #state="ngModel"
            />
            <div class="alert-danger" *ngIf="state.errors && f.submitted">
              <div *ngIf="state.errors.required">Please specify state</div>
              <div *ngIf="state.errors.minlength">
                Provide at least 3 characters state
              </div>
              <div *ngIf="state.errors.maxlength">
                Provide at most 50 characters state
              </div>
            </div>
            </div>
            <div class="form-group">
              <label for="country">Country</label>
              <input
                type="text"
                class="form-control"
                name="country"
                [(ngModel)]="form.country"
                required
                minlength="3"
                maxlength="50"
                #country="ngModel"
              />
              <div class="alert-danger" *ngIf="country.errors && f.submitted">
                <div *ngIf="country.errors.required">Please specify country</div>
                <div *ngIf="country.errors.minlength">
                  Provide at least 3 characters country
                </div>
                <div *ngIf="country.errors.maxlength">
                  Provide at most 50 characters country
                </div>
              </div>
              </div>
        <div class="form-group">
          <label for="emailId">Email</label>
          <input
            type="email"
            class="form-control"
            name="emailId"
            [(ngModel)]="form.emailId"
            required
            email
            #emailId="ngModel"
          />
          <div class="alert-danger" *ngIf="emailId.errors && f.submitted">
            <div *ngIf="emailId.errors.required">Email is required</div>
            <div *ngIf="emailId.errors.email">
              Please enter valid email address
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div class="alert-danger" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Roles</label>
          <div class="form-control" style="display:inline;">
            <input style="display:inline-block;" type="checkbox" name="author" [(ngModel)]="form.admin" value=true #author="ngModel"/>
            &nbsp;
            <label style="display:inline-block;" for="author">Admin</label>
            &nbsp;
            <input style="display:inline-block;" type="checkbox" name="reader" [(ngModel)]="form.user" value=true #reader="ngModel"/>
            &nbsp;
            <label style="display:inline-block;" for="reader">User</label>
          </div>
        </div>
        <br>
        <div class="form-group"> 
          <div *ngIf="form.admin!=true && form.user!=true">
              <button class="btn btn-primary btn-block" [disabled]="true">Sign Up</button>
          </div> 
          <div *ngIf="form.admin == true || form.user == true">
              <button class="btn btn-primary btn-block">Sign Up</button>
          </div>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>
    </div>
  </div>
  